.container.col-6 
    table.table 
        thread.thread-dark 
            tr 
                th(scope="col") No.
                th(scope="col") Email
        tbody 
            tr
                th(scope="row") 1
                td mark@eamil.com
            tr
                th(scope="row") 2
                td jan@eamil.com
            tr
                th(scope="row") 3
                td william@eamil.com
